.bg-solid{
  background-color: rgb(234,195,1380);
}

header.masthead {
  height: 100%;
  display: flex;
  color: var(--light);
  background: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}

.masthead-content{
  position: absolute;
  top: calc(50% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  height: 75%;
  width: 90%;
}

.store{
  background: url("../img/flower.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro{
  color: var(--light);
  background: url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
}

.product{
  height: 100%;
}

.back-btn{
  position:fixed;
  top: 2%;
  left:2%;
}

.p-title{
  color: white;
  font-size: 3rem;
}
.p-description{
  text-align: justify;
  font-size: 1rem;
}

.amount{
  font-size: 2rem;
}

.form-control{
  width: 50%;
}
.form-select{
  width:50%;
}
