.back-btn{
  position:fixed;
  top: 2%;
  left:2%;
}

.product{
  width:100%;
}

.p-title{
  color: white;
  font-size: 3rem;
}
.p-description{
  text-align: justify;
  font-size: 1rem;
}

.pay{
  float: left;
  min-width: 400px;
}

.amount{
  font-size: 2rem;
}

.form-control{
  width: 50%;
}
.form-select{
  width:50%;
}
